.explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: auto;

    width: 150px;
    height: 53px;

    background: #E0EFF6;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
 font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #07484A;
    flex: none;
    order: 0;
    flex-grow: 0;
}