@font-face {
    font-family: 'Playfair Display';
    src: url("../Fonts/PlayfairDisplay-Black.woff2");
    src: url("../Fonts/PlayfairDisplay-BlackItalic.woff2");
    src: url("../Fonts/PlayfairDisplay-Bold.woff2");
    src: url("../Fonts/PlayfairDisplay-ExtraBold.woff2");
}
@font-face {
    font-family: 'Roboto';
    src: url("../Fonts/Roboto-Black.woff2");
    src: url("../Fonts/Roboto-Light.woff2");
    src: url("../Fonts/Roboto-Bold.woff2");
}