@import "container";
@import "fonts";
@import "general";

body{
    overflow-x: hidden;
}
.landing_page{
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    background: url(../images/landing_back.svg);
    border-bottom-left-radius: 62px;
    position: relative;
    
   border: bottom right radius 62px;
   

   header{
    display: flex;

justify-content: space-between;

align-items: center;
padding: 26px 150px;

.icons{
display: flex;
flex-direction: row;
align-items: flex-end;
gap: 58px



}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 132.9%;
/* identical to box height, or 27px */

letter-spacing: 0.05em;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
li{
   cursor: pointer;
   transition: 0.3s ease;
   -webkit-transition: 0.3s ease;
   -moz-transition: 0.3s ease;
   -ms-transition: 0.3s ease;
   -o-transition: 0.3s ease;
}
li:hover{
    font-size: 22px;
}
}

.width{
    width: 668px;
    height: 392.06px;
    position: absolute;
    left: 150px;
}
   }
   .texts{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 54px;

position: absolute;
width: 668px;
height: 392.06px;
left: 150px;
top: 245px;

h1{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 85px;

color: #07484A;
}
p{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: #07484A;

}
button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 4px;
border: none;
width: 230px;
height: 80px;

background: #70908B;
border-radius: 10px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #FDFBF8;
}
   }

   .active{
    
   }
}
